.todo-form {
  display: flex;
  margin: 7rem 0;
}

.form {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.label {
  font-size: 1.6rem;
  font-weight: 700;
}

.input {
  height: 100%;
  width: 45rem;
  border-radius: 0.5rem;
  padding: 0 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: #d8d8d8;
}

@media (max-width: 35rem) {
  .label {
    width: 100%;
  }
  .form {
    justify-content: flex-start;
  }

  .add-button {
    height: 100%;
  }
}

@media (max-width: 44rem) {
  .input {
    width: 30rem;
  }
}

@media (max-width: 420px) {
  .input {
    width: 20rem;
  }
}
